#hpsPaymentForm iframe{
    float:left;
    width:100%;
}
#hpsPaymentForm .iframeholder:after,
#hpsPaymentForm .iframeholder::after{
    content:'';
    display:block;
    width:100%;
    height:0px;
    clear:both;
    position:relative;
}

#hpsPaymentForm label {
    text-transform:uppercase;
}
#hpsPaymentForm .form-group:nth-child(2),
#hpsPaymentForm .form-group:nth-child(3) {
    width:49%;
    display:inline-block;
}
#hpsPaymentForm .form-group:nth-child(3) {
    float:right;
}

#hpsPaymentForm .ss-form-control {
    text-transform:uppercase;
    border:1px solid #ababab;
    border-radius:0px;
    display:-webkit-inline-box;
    height:40px;
}

#hpsPaymentForm .ss-form-control:focus {
    text-transform:uppercase;
    border:1px solid #3989e3;
    border-radius:0px;
    box-shadow:none;
}

#hpsPaymentForm .ss-label {
    text-transform:uppercase;
}

#hpsPaymentForm .form-horizontal .control-label {
    text-align:left;
    width:60%;
    padding-left:none;
    font-weight:400;
    margin-bottom:5px;
    color:#777777;
}

#hpsPaymentForm .form-horizontal .form-group {
    clear:none;
}

#hpsPaymentForm .form-group {
    margin-bottom:none;
}

#hpsPaymentForm .ss-shield {
    background:transparent url("../image/ss-shield@2x.png") no-repeat;
    height:40px;
    display:inline-flex;
    width:390px;
    background-size:330px 40px;
    margin:10px 0px;
}

#hpsPaymentForm .card-type-icon {
    background:transparent url("../image/ss-inputcard-blank@2x.png") no-repeat;
    background-position:right;
    background-size:56px 33px;
    display:-webkit-inline-box;

}

#hpsPaymentForm .invalid.card-type-visa {
    background:transparent url("../image/ss-saved-visa@2x.png") no-repeat bottom right;
    background-size:70px 76px;
}

#hpsPaymentForm .invalid.card-type-amex {
    background:transparent url("../image/ss-saved-amex@2x.png")no-repeat bottom right;
    background-size:70px 76px;}

#hpsPaymentForm .invalid.card-type-jcb {
    background:transparent url("../image/ss-saved-jcb@2x.png") no-repeat bottom right;
    background-size:70px 76px;}

#hpsPaymentForm .invalid.card-type-discover {
    background:transparent url("../image/../image/ss-saved-discover@2x.png") no-repeat bottom right;
    background-size:70px 76px;}

#hpsPaymentForm .invalid.card-type-mastercard {
    background:transparent url("../image/ss-saved-mastercard@2x.png") no-repeat bottom right;
    background-size:70px 76px;
}

#hpsPaymentForm .valid.card-type-visa {
    background:transparent url("../image/ss-saved-visa@2x.png") no-repeat top right;
    background-size:70px 76px;}

#hpsPaymentForm .valid.card-type-mastercard {
    background:transparent url("../image/ss-saved-mastercard@2x.png") no-repeat top right;
    background-size:70px 76px;}

#hpsPaymentForm .valid.card-type-discover {
    background:transparent url("../image/ss-saved-discover@2x.png") no-repeat top right;
    background-size:70px 76px;}

.valid.card-type-jcb {
    background:transparent url("../image/../image/ss-saved-jcb@2x.png") no-repeat top right;
    background-size:70px 76px;}

#hpsPaymentForm .valid.card-type-amex {
    background:transparent url("../image/../image/ss-saved-amex@2x.png") no-repeat top right;
    background-size:70px 76px;}

#hpsPaymentForm .cvv-icon {
    background-image:url("../image/cvv1.png");
    background-repeat:no-repeat;
    background-position:right;
    background-size:60px 36px;
}

/*#temp-icon {
  background-image:url("ss-inputcard-blank@2x.png");
  background-repeat:no-repeat;
  background-size:60px 36px;
  width:60px;
  height:36px;
  float:right;
}

/*IF AMEX///////////////////////////
.cvv-icon {
  background-image:url("../image/cvv2.png");
  background-repeat:no-repeat;
  background-position:right;
  background-size:125px 30px;
}
*/

#payment h6 {
    display:inline;
    margin-left:72px;
    margin-top:20px;
    vertical-align: -webkit-baseline-middle;
    color:#555555;
}

#button-confirm {
    border-radius:0;
    background-color:#3989e3;
    border-color:#2e6da4;
}
#button-confirm:hover {
    background-color:#2e6da4;
}

.col-md-6 {
    float:none;
}
.col-sm-10 {
    float:none;
}

.ss-frame-container > iframe {
    width: 100%;
}

@media (min-width: 992px) {
    #hpsPaymentForm .cvv-icon {
        margin-left:30px;
        background-position:right;
    }

    #hpsPaymentForm .cvv-label {
        margin-left:30px;
    }
}

@media (max-width: 425px) {
    #hpsPaymentForm .ss-shield {
        height:40px;
        width:310px;
        background-size:310px 40px;
    }
    #hpsPaymentForm .form-group:nth-child(2),
    #hpsPaymentForm .form-group:nth-child(3) {
        width:100%;
        display:block;
    }
    #hpsPaymentForm .form-group:nth-child(3) {
        float:none;
    }
}
