#hpsPaymentForm iframe{
    float:left;
    width:100%;
}
#hpsPaymentForm .iframeholder:after,
#hpsPaymentForm .iframeholder::after{
    content:'';
    display:block;
    width:100%;
    height:0px;
    clear:both;
    position:relative;
}

#hpsPaymentForm label {
    text-transform:uppercase;
}
.form-group.gp-card-exp,
.form-group.gp-card-cvv {
    width: 50%;
    display: inline-block;
}
.form-group.gp-card-cvv {
    float:right;
}

#hpsPaymentForm .ss-form-control {
    text-transform:uppercase;
    border:1px solid #ababab;
    border-radius:0px;
    display:-webkit-inline-box;
    height:40px;
}

p.error-message {
    color:red;
    display: none;
    margin:0px 15px;
}

.form-horizontal div.disable-button{
    pointer-events: none;
    opacity: 0.65;
}

#secure-payment-field:focus {
    text-transform:uppercase;
    border:1px solid #3989e3;
    border-radius:0px;
    box-shadow:none;
}

#hpsPaymentForm .ss-label {
    text-transform:uppercase;
    position: relative;
    left: 1%;
}

#hpsPaymentForm .form-horizontal .control-label {
    text-align:left;
    width:60%;
    padding-left:0;
    font-weight:400;
    margin-bottom:5px;
    color:#777777;
}

#hpsPaymentForm .form-horizontal .form-group {
    clear:none;

}

#hpsPaymentForm .ss-shield {
    background:transparent url("../image/ss-shield@2x.png") no-repeat;
    height:40px;
    display:inline-flex;
    width:390px;
    background-size:330px 40px;
    margin:10px 0px;
}

#hpsPaymentForm .card-type-icon {
    background:transparent url("../image/ss-inputcard-blank@2x.png") no-repeat;
    background-position:right;
    background-size:56px 33px;
    display:-webkit-inline-box;
}

#hpsPaymentForm .invalid.card-type-visa {
    background:transparent url("../image/ss-sprite.png") no-repeat bottom right;
    background-size:88px 460px;
    background-position-y:-50px;
  }
#hpsPaymentForm .valid.card-type-visa {
    background:transparent url("../image/ss-sprite.png") no-repeat top right;
    background-size:88px 460px;
    background-position-y:-5px;
  }

#hpsPaymentForm .invalid.card-type-amex {
    background:transparent url("../image/ss-sprite.png")no-repeat bottom right;
    background-size:83px 452px;
    background-position-y:-233px;
  }
#hpsPaymentForm .valid.card-type-amex {
    background:transparent url("../image/ss-sprite.png") no-repeat top right;
    background-size:83px 452px;
    background-position-y:-186px;
  }

#hpsPaymentForm .invalid.card-type-jcb {
    background:transparent url("../image/ss-sprite.png") no-repeat bottom right;
    background-size:90px 460px;
    background-position-y:-325px;
  }
#hpsPaymentForm .valid.card-type-jcb {
    background:transparent url("../image/ss-sprite.png") no-repeat top right;
    background-size:90px 460px;
    background-position-y:-281px;
  }

#hpsPaymentForm .invalid.card-type-discover {
    background:transparent url("../image/ss-sprite.png") no-repeat bottom right;
    background-size:86px 460px;
  }
#hpsPaymentForm .valid.card-type-discover {
    background:transparent url("../image/ss-sprite.png") no-repeat top right;
    background-size:86px 460px;
    background-position-y:-372px;
  }

#hpsPaymentForm .invalid.card-type-mastercard {
    background:transparent url("../image/ss-sprite.png") no-repeat bottom right;
    background-size:89px 460px;
    background-position-y:-143px;
}
#hpsPaymentForm .valid.card-type-mastercard {
    background:transparent url("../image/ss-sprite.png") no-repeat top right;
    background-size:89px 460px;
    background-position-y:-99px;
}

#hpsPaymentForm .cvv-icon {
    background-image:url("../image/cvv1.png");
    background-repeat:no-repeat;
    background-position:right;
    background-size:60px 36px;
}

#payment h6 {
    display:inline;
    margin-left:72px;
    margin-top:20px;
    vertical-align: -webkit-baseline-middle;
    color:#555555;
}

#submit_button {
    border-radius:0px !important;
    border-color:#2e6da4;
    float: right;
    width: 15%;
}

#hpsPaymentForm .col-md-6 {
    float:none;
}
#hpsPaymentForm .col-sm-10 {
    float:none;
}

#hpsPaymentForm .ss-frame-container > iframe {
    width: 100%;
}

@media (min-width: 992px) {
    #hpsPaymentForm .cvv-icon {
        background-position:right;
    }
}

@media (max-width:767px) {
  #hpsPaymentForm .form-group:nth-child(3) {
      float:none;
  }
  #hpsPaymentForm .form-group:nth-child(3),
  #hpsPaymentForm .form-group:nth-child(4) {
      width:100%;
      display:block;
  }
}

@media (max-width: 425px) {
    #hpsPaymentForm .ss-shield {
        height:40px;
        width:310px;
        background-size:310px 39px;
    }
}
